asyncgui==0.6.1
asynckivy==0.6.2
certifi==2024.2.2
charset-normalizer==3.3.2
docutils==0.21.2
idna==3.7
Kivy==2.3.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
kivy_garden.mapview @ https://github.com/kivy-garden/mapview/archive/master.zip#sha256=198a327ad353318beabf0e8ee34fef3ee1b79ebf4b9ee9a154618cad4ed4438c
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=b16efb24c3e6d6c790e4aa7f1c77490c06c1c5ef4d076ab9e368b0835f7582cc
materialyoucolor==2.0.9
pillow==10.3.0
Pygments==2.17.2
requests==2.31.0
urllib3==2.2.1
